*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/*header and footer*/

#img-banner{
    padding: 15px 0px 15px 0px;
}

A {text-decoration: none;}

nav{

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    background-color: orange;
    justify-content: center;

}
nav ul li a {
    color: white
    
}
nav  ul{
    display: flex;
    list-style: none;
    
}
nav ul li{

    font-size: 30;
    font-weight: 700;
    padding: 7px 30px 7px 30px;
    list-style: none;
    text-decoration: none;

}
header{
  display: flex;
  background-color:#FFC107;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px rgba(108, 102, 102, 0.371)

}

footer{

    display: flex;
      background-color:#FFC107;
      align-items: left;
      justify-content: left;
      position: relative;
      padding-right: 500px;
      margin-top: 0px;
    }
    
    .foot{
       
        
        align-self: center;
        position: relative;
        color: white;
        padding-left: 100px;
    }

    /*page content*/

.sections h1 {
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    position: absolute;
    left: 68%;
    bottom: 43%;
    right: 10%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.banner {
    width: 100%;
    height: 100%;
    
}

.semana {
    padding-left: 300px;
}

.receitas {

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.receitas img {

    width: 345px;
    height: 342px;
    
}

.receitas p {

    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    
}

button{

    font-size: 20px;
    font-weight: 700;
    background-color: green;
    border: none;
    padding: 3px 25px 3px 25px;
    color: white;
    
}

.receitas .conferir {

    padding: 4px 10px 4px 105px;
}

button a {
    color: white;
}

h2 {
    color: #FFA000;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 2rem;
}

.final {
    background-color:#FFC107;
}

.final h1 {
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    position: absolute;
    left: 10%;
    bottom:0%;
    top: 225%;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.banner-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    max-width: 22%;
    position: absolute;
    top: 250%;
    left: 10%;
    
}

.banner-text p {
    margin-bottom: 20px;
}