main {
    padding: 20px 100px 40px 100px;
    
}

h1 {
    color: orange;
    padding-top: 60px;
    padding-bottom: 30px;
}

.grid {

    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
    
.grid div {
    padding: 10px 55px 40px 0px;
}

.grid div img {

    width: 345px;
    height: 342px;
    
}

.grid div p {

    
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    
}

button{

    font-size: 20px;
    font-weight: 700;
    background-color: green;
    border: none;
    padding: 3px 25px 3px 25px;
    color: white;
    
}

.grid div .conferir {

    padding: 4px 10px 4px 105px;
}

button a {

    color: white;
}
