main {

    display: flex;
    }

    .main-class {

        padding: 50px 100px;
    }

    h1 {
        color: orange;
        font-size: xx-large;
    }

    .caracteristicas {
        display: flex;
        justify-content: space-between;
        max-width:35%;
        color: green;
        list-style: none;
        text-decoration: none;
        padding: 20px 0px 20px 0px ;
        font-weight: 600;

        

    }

    .caracteristicas p {

        
        border: 7px 20px 7px 20px;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        padding: 4px;  
    }

    article {

        padding-left: 10px;
        max-width: 592px;
        
    }

    h2 {
        font-weight: 500;
        color: orange;
    }

    
.right-class {

    font-weight: 600;
    font-size: larger;
    padding: 120px 70px 0px;
    justify-items: right;
}
    
.right-class p {

    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(108, 102, 102, 0.371);
    border-radius: 0px;  
}
