*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/*header and footer*/

#img-banner{
    padding: 15px 0px 15px 0px;
}

A {text-decoration: none;}

nav{

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    background-color: orange;
    justify-content: center;

}
nav ul li a {
    color: white
    
}
nav  ul{
    display: flex;
    list-style: none;
    
}
nav ul li{

    font-size: 30;
    font-weight: 700;
    padding: 7px 30px 7px 30px;
    list-style: none;
    text-decoration: none;

}
header{
  display: flex;
  background-color:#FFC107;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px rgba(108, 102, 102, 0.371)

}

footer{

    display: flex;
      background-color:#FFC107;
      align-items: left;
      justify-content: left;
      position: relative;
      padding-right: 500px;
      
      
    
    
    
    
    }
    
    .foot{
       
        
        align-self: center;
        position: relative;
        color: white;
        padding-left: 100px;
    }

    